TELEGRAM_TOKEN=
SUBMIT_URL=https://script.google.com/macros/s/AKfycbxnTuK2UxFXKCc2lswSbVNU2bzEbS-eJMHl_4DPBw7yb0AX3d7nbMLAK9u4R6mOvlGV/exec
PROXY_URL=https://lightgray-oryx-237895.hostingersite.com/wp-json/srm/v1/v17
PYTHONUNBUFFERED=1
